  
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* base styles */
body {
  font-family: Dancing Script, sans-serif;
  margin: 0;
  font-size: 2em;
  text-align: center;
  background: #A1E5AB;
  color: #fff;
}
